  JWT_SECRET=WlZkM2VtSnRkSFpqTWpsMFdsZDNNVmxZU21oRFp6MDlDZz09Cg
#  JWT_TOKEN_AUDIANCE=
#  JWT_TِOKEN_ISSUER=
#  JWT_ACCESS_TOKEN_TTL=

# PRISMA_AUTH="mongodb+srv://Faragz:Eb4YvvDQB9GG1krk@cluster0.g1rak7u.mongodb.net/db?retryWrites=true&w=majority"

MONGODB_URI=mongodb://mongodb:27017/
MONGODB_USER=admin
MONGODB_PASS=pass
MONGODB_DB=test
MONGODB_HOST=mongodb
MONGODB_PORT=27017
MONGODB_URL=mongodb://${MONGODB_USER}:${MONGODB_PASS}@${MONGODB_HOST}:${MONGODB_PORT}/${MONGODB_DB}


# POSTGRES_URL=postgresql://postgres:pass@postgres:5432/test
# DATABASE_URL=postgresql://postgres:pass@postgres:5432/test?time_out=300

# POSTGRES_URL=postgresql://postgres:o70oSFW1JNmoplzx@db.tbpxcorifwugjfpgmscz.supabase.co:5432/postgres

# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

POSTGRES_DB=users
POSTGRES_USER=admin
POSTGRES_PASSWORD=pass
POSTGRES_SCHEMA=public
POSTGRES_PORT=5432
POSTGRES_HOST=localhost
USERS_POSTGRES_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=disable"



# KAFKA
KAFKA_BROKERS=kafka:9092
